
.btn{
    font-size: 14px;
    height: 34px;
    border-radius: 8px;
    background-color: #e8935f;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.newHabitBtn{
    padding: 20px;
}

.btn:hover{
    background-color: #cc8355;
}