
.interval{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.interval label{
    color: #656867;
    font-size: 14px;     
}

.interval-controller{
    display: flex;
    gap: 10px;
}

.interval-controller button{
    background-color: #111113;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 10px;
    border: 1px solid #65686798;
    border-radius: 6px;
    cursor: pointer;
}

.interval-controller span{
    align-content: center;
}

.daysTitle{
    color: #656867;
    font-size: 14px;
}