
.modal{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,0.6);
    justify-items: center;
}

.modal-content{
    position: absolute;
    background-color: #18181a;
    border-radius: 20px;
    border: 1px solid #27272a;
    width: 26%;
    top: 10%;
    padding: 30px;
}

.closeBtn{
    background: none;
    border: 0px;
    cursor: pointer;
    color: #525554;
    font-size: 26px;
}

.modalHeader{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.headerTitle{
    font-size: 24px;
    font-weight: 600;
}

.modalInputs form{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.btn-group{
    display: flex;
    gap: 10px;
}

.btn-group button{
    width: 50%;
}