
.main {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.habits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 15px;
    justify-content: center;
}

.habitHeader{
    display: flex;
    justify-content: space-between;
}

.alert-section{
    position: absolute;
    right: 50px;
}

/* Responsive */

@media (width <= 575px) {
    .habits{
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }

    .newHabitBtn span{
        display: none;
    }
}

@media (width <= 450px) {
    .habitHeader{
        flex-direction: column;
        gap: 30px;
    }
}