
.main {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.habits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
    gap: 15px;
    justify-content: center;
}

.habitHeader{
    display: flex;
    justify-content: space-between;
}